#title{
  float: center;
  color:#b8fff8;
  top: 130px;
  bottom:130px;
  left: 90px;
  padding-top:200px;
  padding-left:199px;
  font-size: 37px;
  font-family: 'Abril Fatface', cursive;
}
body{
  background-image:url("brown.jpeg");
}
#orange{
  background-color: #d6714b;
  position: absolute;
    top: 130px;
    bottom:130px;
    right: 150px;
    width: 470px;
    height: 555px;
    border: 3px;
    padding: 50px;
    font-size: 20px;
    font-style: url("GlacialIndifference-Regular.otf"),normal;
}
input[type=text]{
  width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    background-color:#F8F0E3;
    font-size: 15px;
}
#branch{
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    background-color:#F8F0E3;
    font-size: 16px;
}
textarea{
    background-color:#F8F0E3;
    font-size: 15px;
    width: 100%;

    padding: 20px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;

}
.click{
  display: inline-block;
  width:17%;
  font-size: 16px;
  text-align: left;
  background-color:#F8F0E3;
}
.display{
  color: #F8F0E3;
  padding-bottom:200px ;
  font-family: 'Abril Fatface', cursive;
  font-size: 25px;
}
#reviews{
  font-size: 18px;
}
